:root {
    --text-width: 50px;
    --text-width-half: 25px;
}

.tc-steps {
    display: flex;
}

.tc-step {
    position: relative;
    overflow: hidden;
    transition: color .9s;
}

.tc-step:last-of-type {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto !important
}

.tc-step__icon {
    display: inline-flex;
    z-index: 10;
    width: var(--text-width);
    height: var(--text-width);
    border-radius: 50%;
    border: 1px solid;
    border-color: inherit;
    justify-content: center;
    align-items: center;
}

.tc-step__icon-text{
    display: inline-block;
}

.tc-step__main{
    margin-top: 15px;
}

.tc-step__line {
    z-index: 1;
    position: absolute;
    top: var(--text-width-half);
    left: var(--text-width);
    height: 1px;
    width: 100%;
    background-color: black;
}

.is-wait {
    color: #c0c4cc;
}

.is-process {
    color: #303133;
}

.is-success {
    color: #67c23a;
}