{
    "singleQuote": false,
    "printWidth": 280,
    "editor.formatOnSave": false,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false
}
